body {
  font-family: 'Syncopate', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.section-2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: flex-start;
  justify-content: center;
}

.section-3 {
  padding: 20px;
  background-color: #181818;
}

table.table {
  width: auto;
  white-space: nowrap;
  vertical-align: middle;
}

table.table th {
  font-size: 0.8em;
}

.is-capped {
  color: red !important;
}

.font-normal {
  font-family: var(--bs-body-font-family) !important;
}

.data-material {
  color: #777 !important;
  font-size: 0.5em;
}

.table-project th {
  font-size: 0.7em;
  padding: 0 !important;
  text-align: center;
}

.table-project .field-projname {
  font-size: 1em;
}

.table-project .field-projcost {
  color: #777 !important;
  font-size: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}

.table-project .field-projmat {
  display: inline-block;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

#apProdTable .col-contrib {
  display: none;
}

.text-super {
  color: red;
  font-size: 0.7em;
  vertical-align: super;
}

/* projects */
.setter {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.setter[data-setting='0'],
.setter[data-setting='1'] {
  cursor: not-allowed;
}

.setter[data-setting='2'],
.setter[data-setting='3'] {
  cursor: pointer;
}

.has-tip {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.loopmod-tip-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: text-top;
}
